page-home {
    .back {
        width: 100%;
        height: 100%;
      }

    .start{
        border-radius: 50px;
        //background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        background:
            -webkit-linear-gradient(45deg, hsla(227, 94%, 47%, 1) 0%, hsla(227, 94%, 47%, 0) 70%),
            -webkit-linear-gradient(315deg, hsla(12, 98%, 49%, 1) 10%, hsla(12, 98%, 49%, 0) 80%),
            -webkit-linear-gradient(225deg, hsla(19, 98%, 46%, 1) 10%, hsla(19, 98%, 46%, 0) 80%),
            -webkit-linear-gradient(135deg, hsla(242, 92%, 42%, 1) 100%, hsla(242, 92%, 42%, 0) 70%);
        background:
            linear-gradient(45deg, hsla(227, 94%, 47%, 1) 0%, hsla(227, 94%, 47%, 0) 70%),
            linear-gradient(135deg, hsla(12, 98%, 49%, 1) 10%, hsla(12, 98%, 49%, 0) 80%),
            linear-gradient(225deg, hsla(19, 98%, 46%, 1) 10%, hsla(19, 98%, 46%, 0) 80%),
            linear-gradient(315deg, hsla(242, 92%, 42%, 1) 100%, hsla(242, 92%, 42%, 0) 70%);

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
}
