<ion-header>
  <ion-navbar color="primary">
    <ion-title>Cálculo del Área Muscular del Brazo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="datos" (ngSubmit)="calcular()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label>Género:</ion-label>
        <ion-select formControlName="genero" name="genero" okText="Aceptar" cancelText="Cancelar" (ionChange)="cambiogenero()">
          <ion-option value="femenino">Femenino</ion-option>
          <ion-option value="masculino">Masculino</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Perímetro del brazo relajado (cm):</ion-label>
        <ion-input formControlName="PB" type="text" name="PB">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('PB').errors && datos.get('PB').dirty">
          <p *ngIf="datos.get('PB').hasError('required')" class="error">*El perímetro es requerido.</p>
          <p *ngIf="datos.get('PB').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
          <p *ngIf="datos.get('PB').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
          <p *ngIf="datos.get('PB').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Pliegue cutáneo tricipiltal (cm):</ion-label>
        <ion-input formControlName="PT" type="text" name="PT">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('PT').errors && datos.get('PT').dirty">
        <p *ngIf="datos.get('PT').hasError('required')" class="error">*El pliegue es requerida.</p>
        <p *ngIf="datos.get('PT').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
        <p *ngIf="datos.get('PT').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
        <p *ngIf="datos.get('PT').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

      <ion-item>
        <ion-label>Edad:</ion-label>
        <ion-select formControlName="years" name="years" okText="Aceptar" cancelText="Cancelar">
          <ion-option value="5">5 Años</ion-option>
          <ion-option value="6">6 Años</ion-option>
          <ion-option value="7">7 Años</ion-option>
          <ion-option value="8">8 Años</ion-option>
        </ion-select>
      </ion-item>
    
      <ion-item *ngIf="datos.get('years').errors && datos.get('years').dirty">
        <p *ngIf="datos.get('years').hasError('required')" class="error">Los años son requeridos.</p>
      </ion-item>

    </ion-list> 

    <div class="padding">
      <button ion-button block type="submit" [disabled]="!datos.valid">calcular</button>
    </div>

  </form>

</ion-content>

