<ion-header>
  <ion-navbar color="primary">
    <h6 class="titulos" *ngIf="eneable_preescolar">Evaluación: Área muscular del brazo <br> Nivel: Preescolar</h6>
    <h6 class="titulos" *ngIf="eneable_alllevel">Evaluación: Área muscular del brazo <br> Nivel: {{nivel}}</h6>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div text-center padding-top>
    <strong><h5>Datos del Alumno</h5></strong>
    <ion-label>Área muscular del brazo <ion-icon (click)="amb()" color="primary"  name="help-circle"></ion-icon></ion-label>
  </div>

  <form [formGroup]="datos" (ngSubmit)="calcular()" novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label>Género:</ion-label>
        <ion-select formControlName="genero" name="genero" okText="Aceptar" cancelText="Cancelar" (ionChange)="cambiogenero()">
          <ion-option value="femenino">Femenino</ion-option>
          <ion-option value="masculino">Masculino</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Edad:</ion-label>
        <ion-select formControlName="years" name="years" okText="Aceptar" cancelText="Cancelar">
          <ion-option *ngFor="let edad of edades" [value]="edad">{{edad}} Años</ion-option>
        </ion-select>
      </ion-item>
    
      <ion-item *ngIf="datos.get('years').errors && datos.get('years').dirty">
        <p *ngIf="datos.get('years').hasError('required')" class="error">Los años son requeridos.</p>
      </ion-item>

      <ion-item>
        <ion-label>Perímetro de brazo relajado (cm) <ion-icon (click)="perimetro()" color="primary"  name="help-circle"></ion-icon> : </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="PB" type="text" name="PB" placeholder="Ingrese el perímetro">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('PB').errors && datos.get('PB').dirty">
          <p *ngIf="datos.get('PB').hasError('required')" class="error">*El perímetro es requerido.</p>
          <p *ngIf="datos.get('PB').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
          <p *ngIf="datos.get('PB').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
          <p *ngIf="datos.get('PB').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

      <ion-item>
        <ion-label>Pliegue cutáneo tricipiltal (mm) <ion-icon (click)="ptricipital()" color="primary"  name="help-circle"></ion-icon> : </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="PT" type="text" name="PT" placeholder="Ingrese el pliegue">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('PT').errors && datos.get('PT').dirty">
        <p *ngIf="datos.get('PT').hasError('required')" class="error">*El pliegue es requerida.</p>
        <p *ngIf="datos.get('PT').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
        <p *ngIf="datos.get('PT').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
        <p *ngIf="datos.get('PT').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

    </ion-list> 

    <div class="padding">
      <button ion-button block type="submit" [disabled]="!datos.valid">calcular</button>
    </div>

  </form>

</ion-content>

