<ion-header>
  <ion-navbar color="primary">
    <h6 class="titulos">Evaluación: % de Masa Grasa <br> Nivel: {{nivel}}</h6>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div text-center padding-top>
    <strong><h5>Datos del Alumno</h5></strong>
    <ion-label>Masa grasa <ion-icon (click)="amb()" color="primary"  name="help-circle"></ion-icon></ion-label>
  </div>
  <form [formGroup]="datos" (ngSubmit)="calcular()" novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label>Género:</ion-label>
        <ion-select formControlName="genero" name="genero" okText="Aceptar" cancelText="Cancelar">
          <ion-option value="femenino">Femenino</ion-option>
          <ion-option value="masculino">Masculino</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Edad:</ion-label>
        <ion-select formControlName="years" name="years" okText="Aceptar" cancelText="Cancelar">
          <ion-option *ngFor="let edad of edades" [value]="edad">{{edad}} Años</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Pliegue de triceps (mm) <ion-icon (click)="ptricipital()" color="primary"  name="help-circle"></ion-icon> : </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="ptriceps" type="text" name="ptriceps" placeholder="Ingrese el pliegue"></ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('ptriceps').errors && datos.get('ptriceps').dirty">
        <p *ngIf="datos.get('ptriceps').hasError('required')" class="error">*El pliegue es requerido.</p>
        <p *ngIf="datos.get('ptriceps').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
        <p *ngIf="datos.get('ptriceps').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
        <p *ngIf="datos.get('ptriceps').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

      <ion-item>
        <ion-label>Pliegue del muslo (mm) <ion-icon (click)="pmuslo()" color="primary"  name="help-circle"></ion-icon> : </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="pmuslo" type="text" name="pmuslo" placeholder="Ingrese el pliegue"></ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('pmuslo').errors && datos.get('pmuslo').dirty">
        <p *ngIf="datos.get('pmuslo').hasError('required')" class="error">*El pliegue es requerido.</p>
        <p *ngIf="datos.get('pmuslo').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
        <p *ngIf="datos.get('pmuslo').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
        <p *ngIf="datos.get('pmuslo').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

      <ion-item>
        <ion-label>Pliegue suprailiaco (mm) <ion-icon (click)="psuprailiaco()" color="primary"  name="help-circle"></ion-icon> : </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="psuprailiaco" type="text" name="psuprailiaco" placeholder="Ingrese el pliegue"></ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('psuprailiaco').errors && datos.get('psuprailiaco').dirty">
        <p *ngIf="datos.get('psuprailiaco').hasError('required')" class="error">*El pliegue es requerido.</p>
        <p *ngIf="datos.get('psuprailiaco').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
        <p *ngIf="datos.get('psuprailiaco').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
        <p *ngIf="datos.get('psuprailiaco').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

      <ion-item>
        <ion-label>Pliegue del torax (mm) <ion-icon (click)="ptorax()" color="primary"  name="help-circle"></ion-icon> : </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="ptorax" type="text" name="ptorax" placeholder="Ingrese el pliegue"></ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('ptorax').errors && datos.get('ptorax').dirty">
        <p *ngIf="datos.get('ptorax').hasError('required')" class="error">*El pliegue es requerido.</p>
        <p *ngIf="datos.get('ptorax').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
        <p *ngIf="datos.get('ptorax').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
        <p *ngIf="datos.get('ptorax').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>

      <ion-item>
        <ion-label>Pliegue del abdomen (mm) <ion-icon (click)="pabdomen()" color="primary"  name="help-circle"></ion-icon> : </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="pabdomen" type="text" name="pabdomen" placeholder="Ingrese el pliegue">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="datos.get('pabdomen').errors && datos.get('pabdomen').dirty">
        <p *ngIf="datos.get('pabdomen').hasError('required')" class="error">*El pliegue es requerido.</p>
        <p *ngIf="datos.get('pabdomen').hasError('minlength')" class="error">*El minimo de caracteres permitidos es 3.</p>
        <p *ngIf="datos.get('pabdomen').hasError('maxlength')" class="error">*El maximo de caracteres permitidos es 6.</p>
        <p *ngIf="datos.get('pabdomen').hasError('pattern')" class="error">*Solo se admiten números del formato "45.05".</p>
      </ion-item>
    
    </ion-list> 

    <div class="padding">
      <button ion-button block type="submit" [disabled]="!datos.valid">calcular</button>
    </div>

  </form>

</ion-content>
